* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    background: #f5e6e8;
    color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.box-keys {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    background: #fffdfd;
    padding: 1.5rem 4.5rem;
    min-width: 250px;
    border: 1px solid #695172;
    box-shadow: 0 1px 1px 1px rgba(105, 81, 114, 0.8);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.box-keys:hover {
    transform: scale(1.1);
    border: none;
    box-shadow: 0 1px 5px 2px rgba(143, 30, 184, 0.8);
}

.box-keys small {
    position: absolute;
    top: -30px;
    left: 0;
    text-align: center;
    width: 100%;
    text-align: center;
    color: #695172;
    font-size: 1rem;
    font-weight: 600;
}